<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#f05c00">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>SyncPod | 新しい動画視聴のカタチ。離れた人と一緒に動画を楽しもう。</title>
    <meta name="description" content="離れた人と一緒に動画を楽しむことができます。友人や恋人と同じ時間を共有したり、アーティストのファン同士で盛り上がったり、楽しみ方は自由自在。">
    <link rel="canonical" href="https://app.sync-pod.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SyncPod | 新しい動画視聴のカタチ。離れた人と一緒に動画を楽しもう。">
    <meta property="og:description" content="離れた人と一緒に動画を楽しむことができます。友人や恋人と同じ時間を共有したり、アーティストのファン同士で盛り上がったり、楽しみ方は自由自在。">
    <meta property="og:url" content="https://app.sync-pod.com">
    <meta property="og:image" content="https://app.sync-pod.com/image/ogp.png">
    <meta name="twitter:site" content="@Cyder_PR">
    <meta property="fb:app_id" content="150795858797745">
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
  </body>
</html>
